
.wrapper {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  text-align: center;
}

.item1 {
  background-color: aqua;
  grid-column: 1 / 3;
}

.item2 {
  background-color: yellow;
}

.item3 {
  background-color: darkred;
  grid-row: 2 / 4;
}

.item4 {
  background-color: brown;
  grid-column: 2 / 4;
}

.item5 {
  background-color: tomato;
}

.item6 {
  background-color: darkblue;
}

.item7 {
  background-color: darkcyan;
}

.item8 {
  background-color: firebrick;
}

.item9 {
  background-color: sienna;
}